body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

a {
  color: #00B7FF;
  display: block;
  font-size: 16px;
  padding-bottom: 5px;
  max-width: 160px;
}

.header {
  background: #002e5d;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  padding: 8px 20px;
  font-family: Verdana;
}

form {
  display: block;
  margin-top: 0em;
  /*margin-bottom: 10px;*/
}

label {
  display: table-cell;
  margin-bottom: 5px;
  width: 100px;
  font-weight: 600;
  padding: 0 3px 0 0;
}

input {
  display: table-cell;
  width: 40%;
  margin-bottom: 5px;
}

.main-activity, .additionals, .header {
  padding-left: 20px;
}


hr {
  padding: 0;
}

.form-header {
  font-weight: 600;
  font-size: 25px;
}

.form-item {
  display: table;
  width: 100%;
}

.button {
  width: 200px;
  font-weight: 600;
}

#loginMsg {
  color: red;
  font-weight: 600;
  font-size: 20px;
}

.usrNAME {
  font-weight: 600;
  color: #002e5d;
}




/* NOTES SECTION */

.notesSection {
  margin-top: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.noteItem {
  margin: 0;
  padding: 20px 25px;
  max-width: 55rem;
}

.noteItem:hover{
  border: .5px #4e4f54 solid;
  /*padding: 10px;*/
  box-shadow: 5px 10px #888888;
  
}

.noteTitle {
  font-size: 15px;
}

.noteDetails {
  padding-left: 25px;
}

.isLate {
  /*background: #63100b;*/
  color: red;
  
}

.notes-button {
  font-size: 14px;
  font-weight: 600;
}


/* notes -- user.html */

#openSectionAddNotes{
  margin: 20px 0;
  display: block;
}

#section-addNotes {
  margin-bottom: 20px;
  display: none;
}