<!doctype html>
<html ng-app="myApp"> 
    
<head>
    <title>User Login and Sessions</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
        
<body>
    <div class="header">A SIMPLE PERSONAL EVENTS DATABASE</div>
    <div class="main-activity" ng-controller="myController">
        <h2 id="welcomeText">Welcome <span class="usrNAME"><%= username %></span>!
        </h2>
        <a id="logoutLink" href="/logout">logout</a>
        <a id="editLink" href="/user">Edit User / Add Event</a>
    </div>
    <hr>
    
    <div class="additionals">
        <span id="indexMsg">
            <%= msg %>
        </span>
    </div>
    
    <div class="additionals">
        <span id="colorText">
        Age: 
            <%= age %>
        
        </span>
    </div>
    
    <hr>
    
    <div class="additionals notesSection">
        <button id="getNotes" class="notes-button">All Events</button>
        <button id="getUpcomingNotes" class="notes-button">Upcoming Events</button>
        <button id="getLateNotes" class="notes-button">Passed Events</button>
        <div id="notes"></div>
    </div>
    
    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="/javascripts/my_app.js"></script>
</body>
      
</html>
