<!doctype html>
<html ng-app="myApp">
    
<head>
    <title>User Login and Sessions</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
        
<body >
    <div class="header">A SIMPLE PERSONAL EVENTS DATABASE</div>
    <div class="form-container main-activity" ng-controller="myController">
        <p id="sectionTitle" class="form-header">User Profile</p>
        <form method="POST" action="/user/update">
            <div class="form-item">
                <label>Username:</label>
                <input type="text" id="username" name="username" ng-model="user.username" disabled><br>
            </div>
            
            <div class="form-item">
                <label>Email:</label>
                <input type="email" id="email" name="email" ng-model="user.email"><br>          
            </div>
            
            <div class="form-item">
                <label>Age:</label>
                <input type="text" id="age" name="age" ng-model="user.age"><br>   
            </div>
            
            <div id="section-addNotes">
                <h2>Add a new Event here: </h2><br>
                <div class="form-item">
                    <label class="labelText" for="title">Title: </label>
                    <input type="text" id="title" name="noteTitle" placeholder="Title" ng-model="user.title"><br>
                </div>
            
                <div class="form-item">
                    <label class="labelText" for="location">Location: </label>
                    <input type="text" id="location" name="noteLocation" placeholder="Location" ng-model="user.location"><br>
                </div>
            
                <div class="form-item">
                    <label class="labelText" for="time">Date: </label>
                    <input type="datetime-local" id="time" name="noteTime" ng-model="user.time" ><br>
                </div>
            
                <div class="form-item">
                    <label class="labelText" for="Description">Description: </label>
                    <input type="text" id="description" name="noteDescription" placeholder="Description" ng-model="user.description"><br>
                </div>    
            </div>
            <br>
                
            <input class="button" type="submit" id="save" value="Save">
        </form>
    
    </div>
    <hr>
    
    <div class="additionals">
        <button class="button" id="openSectionAddNotes">Need a new Event?</button>
    </div>
    <hr>
    
    <div class="additionals">
        <form method="POST" action="/user/delete">
            <input class="button" type="submit" id="delete" value="Delete User" >
        </form>
    </div>
    <hr>
    <div class="additionals">
        <span id="userMsg">
        <%= msg %>
        </span>
        <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
        <script src="/javascripts/my_app.js"></script>
        <a id="homeLink" href="/">Home</a>
    </div>
</body>

</html>