body {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

form {
    background: #630a1e;
    font-family: Georgia;
    font-size: 18px;
    font-weight: bold;
    padding: 50px;
    color: #FFFFFF;
}

.wrapper {
  padding: 0;
}

input {
    height: 2rem;
    width: 15rem;
}

.weather-suggestion > p {
    font-family: Georgia;
    font-size: 18px;
}

.weather-result {
    background-color: lightgrey;
    font-family: Georgia;
    font-size: 18px;
}

div {
    margin: 0;
}

p {
    font-family: Georgia;
    font-size: 16px;
    font-weight: 700;
    padding: 0 50px;
}

img {
    witdh: 20rem;
    height: auto;
}

.my_button {
  margin-top: 30px;
  width: 150px;
  height: auto;
  font-size: 14px;
}

#owldef {
  display: block;
  
}

#weather, #weather-img {
    display: inline-block;
}

#weather {
    padding: 0 50px;
    background: #e4d89a;
    margin:0;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    display: none;
}

#displayCity, #owldef {
    margin: 0 50px;
    padding: 0;
    border: none;
    font-family: Verdana;
    font-size: 16px;
    font-weight: 700;
}

#searchResults {
    background: #d7d7d7;
    font-family: Consolas;
    font-weight: 400;
}