body {
  margin:0;
  padding:0;
}

.User-list {
  list-style: none;
}

.Avatar {
  text-align: center;  
}

.Avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.Avatar h4 {
  text-transform: capitalize;
  color: red;
}

.AppTitle {
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  color: #fff;
  background: #002e5d;
  padding: 5px 10px;
  margin: 0;
}

form {
  margin: 20px 10px;
}

ul {
  list-style: none;
}